body {
    font-size: 12pt;
    background: gray;
}

article {
    width: 8.5in;
    border: 1px solid black;
    padding: 0 1in;
    background: white;
}

h1, h2, h3, h4, h5 {
    text-align: left;
    margin-top: 3ex;
}

h1 {
    font-size: xx-large;
}

h2, h3, h4, h5 {
    font-variant: small-caps;
}

h1.title {
    padding-top: 1in;
    text-align: center;
    margin-top: 0;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

section.abstract p {
    padding: 0 1in;
}

figure {
    text-align: center;
}

figcaption {
    font-size: small;
    padding: 1em 0;
}

figure.subfigure {
    display: inline-block;
}

section.references table {
    float: left;
}

pre {
    text-align: left;
    font-size: 10pt;
}

ol {
    text-align: left;
}

section.references td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 1ex;
}

article footer {
    font-size: small;
    padding-bottom: 0.125in;
}
